.maincntr{
  padding-top: 5%;
  width: 50%;

  margin: auto;
}

.image1{
  width: 100%;
}


@media (max-width: 768px) {
  .maincntr{
    width: 90%;
  }
  .mainhd{
    font-size: 1.8em;
  }

  h2{
    font-size: 1.5rem;
  }
}